/************ Définition des polices personalisées ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*********** Définition des couleurs personalisées ***********/
:root {
    --myBlue:       #0065fc; /* var(--myBlue); */
    --myLightBlue:  #deebff; /* var(--myLightBlue); */
    --myGray:       #f2f2f2; /* var(--myGray); */
}

/***************** Redéfinition des balises ******************/
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

footer {
    background-color: var(--myGray);
    max-height: 218px;
    padding:  50px;
    padding-top: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer table {
    width: 100%;
}

footer th {
    font-size: 1.1em;
    text-align: left;
    width: 33%;
}

footer tr {
    height: 2em;
}

header {
    height : 110px;
}

header nav {
    width: 35%;
}

/******************** Définition des CLASS *******************/
.activity-card {
    background-color: white;
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 446px;
    overflow: hidden;
    max-width: 302px;
}

.activity-card:hover {
    cursor: pointer;
}

.activity-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity-description {
    background-color: white;
    min-height: 57px;
    padding-left: 15px;
    width: 100%;
}

.activity-frame-xl {
    height: 389px;
    width: 302px;     
}

.activity-frame-l {
    height: 180px;
    width: 302px;     
}

.activity-frame-m {
    height: 150px;
    width: 302px;     
}

.activity-frame-s {
    height: 140px;
    width: 302px;     
}

.activity-frame-xs {
    height: 109px;
    width: 302px;     
}

.activity-title {
    margin-bottom: 25px;
}

.between {
    justify-content: space-between;
}

.bloc-page {
    margin: auto;
    width: 1440px;
}

.blue {
    color: var(--myBlue);
}

.bottom {
    align-items: flex-end;
}

.card {
    background-color: white;
    border: 5px solid white;
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 189px;
    margin-bottom: 29px;
    overflow: hidden;
    position: relative;
    width: 245px;
}

.card:hover {
    cursor: pointer;
}

.card-description {
    background-color: white;
    line-height: 1.4em;
    padding-left: 12px;
    padding-top: 5px;
    position: absolute;
    top: 119px;
    width: 100%;
}

.card-detail {
    font-size: 0.8em;
}

.card-frame {
    height: 114px;
    position:absolute;
    width: 245px; 
}

.card-h {
    background-color: white;
    border: 5px solid white;
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    max-height: 144px;
    margin-bottom: 33px;
    margin-left: 37px;
    margin-right: 37px;
    overflow: hidden;
    position: relative;
    width: 343px;
}

.card-h:hover {
    cursor: pointer;
}

.card-h-description {
    background-color: white;
    line-height: 1.4em;
    padding-left: 21px;
    padding-top: 14px;
    width: 100%;
    position: relative;
}

.card-h-frame {
    height: 134px;
    min-width: 127px;     
}

.card-h-stars {
    position: absolute;
    top: 105px;
}

.container {
    display: flex;
}

.container:hover > .disk {
    transform: rotate(0deg);
}

.disk {
    transform: rotate(-360deg);
	transition: transform 500ms ease-in-out;
}

.filter {
    font-size: 1.1em;
    font-weight: bold;
    height: 112px;
    max-width: 929px;
}

.filter-button {
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 46px;
    margin-bottom: 4px;
    margin-left: 20px;
    padding-right: 21px;
}

.filter-button:hover {
    border-color: var(--myLightBlue);
}

.filter-economic:hover {
    cursor: pointer;
}

.filter-family:hover {
    cursor: pointer;
}

.filter-icon {
    border-radius: 25px 25px 25px 25px;
    background-color: var(--myLightBlue);
    color: var(--myBlue);
    height: 51px;
    left: -20px;
    position: relative;
    text-align: center;
    width: 51px;
}

.filter-pets:hover {
    cursor: pointer;
}

.filter-romantic:hover {
    cursor: pointer;
}

.filter-title {
    font-size: 1.1em;
    font-weight: bold;
}

.footer-column {
    margin-top: 7px;
    min-width: 250px;
    width: 33%;
}

.footer-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.gray {
    color: var(--myGray);
    left: -4px;
    position: relative;
}

.hosting-classic {
    background-color: var(--myGray);
    border-radius: 17px;
    padding: 24px;
    width: 62%;
}

.hosting-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hosting-more {
    margin-bottom: 22px;
    margin-left: 16px;
    margin-top: 24px;
}

.hosting-more a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.hosting-popular {
    background-color: var(--myGray);
    border-radius: 17px;
}

.hosting-popular-title {
    margin-bottom: 33px;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 40px;
}

.hosting-title {
    margin-bottom: 25px;
    margin-left: 14px;
    margin-top: 16px;
}

.info {
    border: 1px solid  #d9d9d9;
    border-radius: 12px 12px 12px 12px;
    color: var(--myBlue);
    height: 24px;
    margin-right: 15px;
    text-align: center;
    width: 24px;
}

.logo {
    margin-left: 53px;
    margin-top: 44px;
}

.middle {
    display: flex;          /* technique pour centrer verticalement */
    flex-direction: column; /* technique pour centrer verticalement */
    justify-content: center;/* technique pour centrer verticalement */
}

.menu {
    height: 100%;
    text-align: center ;
    width: 162px;
}

.menu a {
    text-decoration: none;
}

.off a {
    border-top: 2px solid white;
    color: black;
}

.on {
    border-top: 2px solid var(--myBlue);
}

.on a {
    color: var(--myBlue);
}

.photo-1 {
    background: url('../Images/hosting/marcus-loke-WQJvWU_HZFo-unsplash.jpg') center/100% no-repeat;
}

.photo-2 {
    background: url('../Images/hosting/fred-kleber-gTbaxaVLvsg-unsplash.jpg') center/100% no-repeat;
}

.photo-3 {
    background: url('../Images/hosting/reisetopia-B8WIgxA_PFU-unsplash.jpg') center/100% no-repeat;
}

.photo-4 {
    background: url('../Images/hosting/annie-spratt-Eg1qcIitAuA-unsplash.jpg') center/100% no-repeat;
}

.photo-5 {
    background: url('../Images/hosting/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') center/100% no-repeat;
}

.photo-6 {
    background: url('../Images/hosting/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') center/100% no-repeat;
}

.photo-7 {
    background: url('../Images/hosting/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') center/auto 100% no-repeat;
}

.photo-8 {
    background: url('../Images/hosting/aw-creative-VGs8z60yT2c-unsplash.jpg') center/auto 100% no-repeat;
}

.photo-9 {
    background: url('../Images/hosting/febrian-zakaria-sjvU0THccQA-unsplash.jpg') center/100% no-repeat;
}

.photo-10 {
    background: url('../Images/activity/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') center/auto 100% no-repeat;
}

.photo-11 {
    background: url('../Images/activity/paul-hermann-QFTrLdQIRhI-unsplash.jpg') center/100% no-repeat;
}

.photo-12 {
    background: url('../Images/activity/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') center/100% no-repeat;
}

.photo-13 {
    background: url('../Images/activity/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') center/auto 100% no-repeat;
}

.photo-14 {
    background: url('../Images/activity/florian-wehde-xW9e8gdotxI-unsplash.jpg') center/100% no-repeat;
}

.photo-15 {
    background: url('../Images/activity/lena-paulin-wH2-EJoDcV0-unsplash.jpg') center/100% no-repeat;
}

.recherche-gauche {
    border-radius: 16px 0px 0px 16px;
    background-color: var(--myGray);
    color: black;
    height: 51px;
    position: relative;
    text-align: center;
    width: 52px;
}

.register {
    border-top: 2px solid white;
    color: var(--myBlue);
    font-weight: bold;
}

.register a:visited {
    color: var(--myBlue);
}

.right {
    justify-content: flex-end;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
}

.tools {
    padding-left: 53px;
}

.tools p {
    line-height: 1.6em;
}

.top {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

/********************* Définition des ID *********************/
#activity {
    margin-bottom: 60px;
    margin-left: 50px;
    margin-top: 36px;
    max-width: 1337px;
}

#hosting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-top: 36px;
    max-width: 1337px;
}

#recherche {
    border: 1px solid var(--myGray);
    border-right: none;
    font-size: 1.2em;
    font-weight: bold;
    height: 51px;
    width: 230px;
}

#recherche-bouton {
    border: none;
    border-radius: 0px 16px 16px 0px;
    background-color: var(--myBlue);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    height: 51px;
    left: -4px;
    position:relative;
    width: 134px;
}

/* =================================== MEDIA QUERIES =================================== */
/* and (min-width: 481px) */
@media all and (max-width: 1440px) { /* règles CSS pour tablettes */
    /***************** Redéfinition des balises ******************/
    header {
        margin-right: 50px;
    }

    footer {
        max-height: none;
    }
    /******************** Définition des CLASS *******************/
    .activity-column {
        height: 446px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
 
    .activity-container {
        justify-content: space-around;
    }
    
    .bloc-page {
        width: auto;
    }

    .card-h-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filter {
        margin-right: 50px;
    }

    .hosting-classic {
        margin-bottom: 50px;
        width: auto;
    }

    /********************* Définition des ID *********************/
    #activity {
        margin-right: 50px;
    }

    #hosting {
        flex-direction: column;
        margin-right: 50px;
    }
}

/* @media all and (max-device-width: 480px) */
@media all and (max-width: 480px) { /* règles CSS pour smartphones */

}